
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
}
.container1{	
	display:inline-block;
	border:15px solid blue;
	margin:20px;
}
.div1{
	background-color:lightblue;
	padding:50px;
}
.container{
	border:1px solid black;
	width:300px;
	padding:40px 10px ;
	
}